In [90]:
import pandas as pd
import mygene

import os
import argparse

In [93]:
df = pd.read_csv("magma_out/step2/ShahS_31919418_HeartFailure.genes.out", header=[0], delimiter="\t")
data = pd.DataFrame()

gene_id = []
p = []

for i in range(len(df)):
    row = list(filter(None, df[df.columns[0]][i].split(" ")))
    gene_id.append(row[0])
    p.append(row[-1])

data["GENE_ID"] = gene_id
data["P"] = p

mg = mygene.MyGeneInfo()
data["GENE_ID"] = mg.getgenes(data["GENE_ID"], fields='symbol', as_dataframe=True)["symbol"].tolist()
data = data.dropna(axis=0)
data.to_csv("magma_out/step2/ShahS_31919418_HeartFailure.genes.out.pval")

querying 1-1000...done.
querying 1001-2000...done.
querying 2001-3000...done.
querying 3001-4000...done.
querying 4001-5000...done.
querying 5001-6000...done.
querying 6001-7000...done.
querying 7001-8000...done.
querying 8001-9000...done.
querying 9001-10000...done.
querying 10001-11000...done.
querying 11001-12000...done.
querying 12001-13000...done.
querying 13001-14000...done.
querying 14001-15000...done.
querying 15001-16000...done.
querying 16001-17000...done.
querying 17001-18000...done.
querying 18001-18659...done.

         GENE_ID         P
0      LINC01409   0.24624
1         SAMD11   0.21046
2          NOC2L    0.1906
3         KLHL17   0.11813
4        PLEKHN1  0.097177
...          ...       ...
18653   MAPK8IP2   0.18123
18655       ARSA    0.7301
18656     SHANK3   0.33368
18657        ACR  0.048522
18658     RABL2B   0.13367

[18339 rows x 2 columns]